.media-img{
    max-width: 200px;
    height: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
}
.media-img-wrapper{
    width: 200px;
    text-align: center;
    margin-bottom: 15px;
}
.media-img-wrapper:hover {
    transform:scale(1.1);
}
.price{
    color: green;
}
.media{
    display: flex;
    align-items: flex-start;
}
.media-body{
    flex: 1;
   margin-left: 15px
}